.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #e8e12b;
  border: 1px solid #e8e12b;
  color: black;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #bbb61f;
  border-color: #bbb61f;
}
