$mainColor: #e8e12b;
$hoverBtnBcolor: #bbb61f;
$btnTextColor:#8b8816;
$inputErrorColor: #aa0b20;
$inputErrorBgColor: #ffeff1;
$inputTextYellow: #d4cf29;
$blackBoxWithTransparency: rgba(48, 47, 46, 0.8);
$blackBoxShadow: rgba(0, 0, 0, 0.25);
$backdropBgColor: rgba(0, 0, 0, 0.75);